body {
background-image: url("https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg");
background-size: 100%;
text-align: center;
	.board {
		h1 {
		color: #00FFFF;
		}
	.column-container {
		.column {
			h2 {
			color: #00FFFF;
			}
			.btn-delete {
			margin: 10px;
			cursor: pointer;
			}
			.add-card {
			margin: 10px;
			cursor: pointer;
			}
			ul {
			padding: 30px;
				li {
					.card-description {
					color: #fff;
					cursor: pointer;
					}
				}
			}
		}
	}
	}
}